{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="form-group">
                <i class="fa fa-calendar"></i> {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                <i class="fa fa-calendar"></i> {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
{% endblock %}