{% extends "base.html.twig" %}
{% block title %}
{% set title = 'Modification' %} 
{{ title }}
{% endblock %}
{% block head %}
    {{ parent() }} 
{% endblock %}
{% block body %}
    <header>
        <ul class="navbar navbar-dark bg-primary d-flex justify-content-around">  
            <li class="nav-item active list-inline-item">
            <a class="navbar-brand" href="/blog/">Accueil</a></li>
        </ul>    
    </header>
    <p class="mx-4 my-5"> Modification</p>
    {{ form_start(form, {'action' : path('user_edit', { 'id' : user.id })}) }}
        {{ form_widget(form) }}
    <button type="submit" id="submit" class="btn btn-success pull-right text-uppercase">submit</button>
    {{ form_end(form) }}
{% endblock %}